.adminElementMarginBottom {
  padding: 5px 10px;
}
.adminBox {
  padding-left: 0px;
  padding-right: 0px;
}
.adminDialogContent {
  padding: 15px !important;
}
.adminDialogRow {
  margin: 5px 0px !important;
}

@media screen and (min-width: 600px) {
  .validatorForm {
    width: 550px;
  }
}