.link {
  color: black;
}
.studyProgram {
  padding-left: 5%;
}
.paper {
  padding: 20px;
}
.divider {
  margin: 10px !important;
}
.partMainPadding {
  padding: 10px !important;
}
.partMargin{
  margin: 20px 0px !important;
}
.logo {
  width: 100%;
}