.link {
  color: black;
}
.studyProgram {
  padding-left: 30px;
}
.paper {
  padding: 20px;
}
.divider {
  margin: 10px !important;
}
.partMainPadding {
  padding: 10px !important;
}
.additionalContent {
  padding: 0px 10px 10px 10px;
}
.partMargin{
  margin: 20px 0px !important;
}