.link {
  color: black;
  transition: all 0.5s;
}
.link:hover {
  font-size: large;
}
.studyProgram {
  padding-left: 30px;
}
.titleTag {
  padding-bottom: 10px;
}
.paper {
  padding: 20px;
  margin: 10px;
}
.divider {
  margin: 10px !important;
}
.additionalContent {
  padding: 0px 10px 10px 10px;
}
.partMargin{
  margin: 20px 0px !important;
}